* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: fixed;
  padding-inline: 10px;
  background-color: rgb(161, 197, 215); 
  z-index: 1;
}
header a {
  text-decoration: none;
  color: rgb(175, 151, 15);
  padding: 25px;
  font-size: 28px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 425px) {

  header a {
    font-size: 16px;
  }
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
.section .background {
  background-color: rgb(57, 113, 158);
  width: 90%;
  height: 80vh;
  transform: skewY(-12deg);
  margin-top: -100px;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .section .background {
    background-color: rgb(57, 113, 158);
    width: 90%;
    height: 80vh;
    transform: skewY(-12deg);
    position: relative;
    top: 50px;
    left: 45px;
    z-index: -1;
  }
}
.BEST {
  height: 100px;
  width: 100px;
  margin-top: 150px;
  margin-left: 50px;
  border-radius: 30px;
  background-color: rgb(45, 92, 130);
  transform: skewY(12deg);
}
.BEST h1 {
  padding: 15px;
  font-size: 48px;
  color: rgb(174, 215, 251);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 425px) {
  .BEST {
    height: 80px;
    width: 80px;
    margin-top: 120px;
    margin-left: -50px;
  }
  .BEST h1 {
    font-size: 38px;
  }
}
section .Headding {
  width: 350px;
  margin-top: 250px;
  margin-left: 200px;
  color: #e5bd8c;
}

.Headding h1 {
  font-size: 34px;
  transform: skewY(12deg);
}
.Headding h4 {
  font-size: 18px;
  transform: skewY(12deg);
}
.Headding button {
  color: #ffffff;
  background-color: #b67c34;
  transform: skewY(12deg);
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}
@media (max-width: 425px) {
  section .Headding {
    width: 200px;
    margin-top: 150px;
    margin-left: 40px;
  }
  .Headding h1 {
    font-size: 18px;
  }
  .Headding h4 {
    font-size: 12px;
  }
}

.section img {
  width: 600px;
  margin-top: 210px;
  animation-name: img-ani;
  animation-iteration-count: 2;
  animation-duration: 5s;
  z-index: 1;
}
@keyframes img-ani {
  from {
    transform: translate(-250px);
  }
  to {
    transform: translate(250px);
  }
}
@media (max-width: 425px) {
  .section img {
    width: 280px;
    position: relative;
    bottom: 160px;
    left: 50px;
  }
  @keyframes img-ani {
    from {
      transform: translate(-100px);
    }
    to {
      transform: translate(0px);
    }
  }
}
button {
  color: #ffffff;
  background-color: #b67c34;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  border: none;
}

.section1 {
  text-align: center;
  font-size: 28px;
  /* margin-top: -100px;
  margin-bottom: 100px; */
}
@media (max-width: 425px) {
  section {
    display: flex;
    flex-direction: column;
   
  }
  .section1 {
    font-size: 20px;
    margin-top: -150px;
    width: 350px;
    text-align:end;
    
  }
}
.body1 h1 {
  background-color: brown;
  color: aliceblue;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
}
.cycles1 {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px 0px 50px;
}

.cycles1 .img img {
  width: 200px;
}
.description_img p {
  width: 650px;
}
@media (max-width: 425px) {
  .description_img p{
    width: 300px;
  }
}
footer {
  background-color: cadetblue;
}
.footer_main{display: flex;
justify-content: space-between;
padding-inline: 10px;}

